<form action="#">

  <label for="contact_name">Nome</label>
  <input type="text" name="nome" id="contact_name" class="form-control">

  <br><br>

  <label for="contact_email">E-mail</label>
  <input type="text" name="email" id="contact_email" class="form-control">

  <br><br>

  <label for="contact_phone">Telefone</label>
  <input type="number" name="telefone" id="contact_phone" class="form-control">

  <br><br>

  <label for="contact_about">Assunto</label>
  <textarea name="assunto" id="contact_about" cols="30" rows="10" class="form-control"></textarea>
  
  <br><br>

  <a type="submit" class="btn btn-primary" onclick="loadData()">Enviar</a>

  <br><br>

</form>
