*{
    margin: auto;
}
body{
    font-family: arial;
    background-color: #f0f0f5
}

h2{
    text-align: center;
    color: white;
    height: 80px;
    padding: 30px 1px 1px 1px;
}
table{
    width: 100%;
    border-collapse: collapse;
    border-bottom: 1px solid #c2c2d6;
    
}
th{
    font-size: 120%;
}
td{
    border-bottom: 1px solid #c2c2d6;
}
#DivCabecalho{
    min-height: 120px;
    color: white;
    background-color: #809fff;
    padding: 55px 55px 15px 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#DivLinha{
    clear: both;  
}
#pontos{
    text-align: center;
}
#adiado{
    color: red;
    text-align: center;
}
#DivClasificassao{
    width: 60%;
    height: 1000px;
    padding: 60px 1px 1px 1px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#DivJogos{
    width: 60%;
    height: 400px;
    padding: 70px 1px 1px 1px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#DivJogadores{
    width: 60%;
    height: 560px;
    padding: 50px 1px 1px 1px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#costa{
    text-align: left;
}
#H2{
    width: 60%;
    background-color: #809fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}