# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\facul\2020_2\LP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
