<div class="container">
  <form class="mt-3">
      <div class="mb-3">
          <label for="name" class="form-label">Nome</label>
          <input type="text" class="form-control" id="name">
      </div>
      <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
          <label for="phone" class="control-label">Telefone</label>
          <input type="text" class="form-control" id="phone" placeholder="Telefone">
      </div>
      <div class="mb-3">
          <label for="cep" class="control-label">CEP</label>
          <input type="text" id="cep" class="form-control cep-mask" placeholder="Ex.: 00000-000">
      </div>
      <div class="mb-3">
          <label for="subject" class="form-label">Assunto</label>
          <textarea class="form-control" id="subject" cols="30" rows="10"></textarea>
      </div>

      <button id="btnContact" type="submit" class="btn btn-primary mb-3">Enviar</button>
  </form>
</div>