<table class="table table-bordered container">
    <thead class="thead-light">
        <tr>
            <th colspan="2" class="text-center">Dados</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Nome:</td>
            <td id="name"></td>
        </tr>
        <tr>
            <td>E-mail:</td>
            <td id="email"></td>
        </tr>
        <tr>
            <td>Telefone</td>
            <td id="phone"></td>
        </tr>
        <tr>
            <td>local</td>
            <td id="local"></td>
        </tr>
        <tr>
            <td>Comentário: </td>
            <td id="subject"></td>
        </tr>
    </tbody>

</table>