<table class="table table-bordered container">
    <thead class="thead-light">
        <tr>
            <th colspan="2" class="text-center">Dados</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Nome:</td>
            <td id="nameContact"></td>
        </tr>
        <tr>
            <td>E-mail:</td>
            <td id="emailContact"></td>
        </tr>
        <tr>
            <td>Telefone</td>
            <td id="phoneContact"></td>
        </tr>
        <tr>
            <td>sobre:</td>
            <td id="aboutContact"></td>
        </tr>
    </tbody>

</table>