body{
    background-color: powderblue;
    text-align: center;
}
h1{
    color: dodgerblue;
}
img{
    border: solid dodgerblue;
    border-width: 5px;
}
ul{
    display: inline-block;font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
}
ol{
    display: inline-block;font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
}